.superpowers/
.worktrees/
.claude/plans/
node_modules/
main.js
*.log
tmp/
**/.vitest-cache/
!dist/main.js
.playwright-mcp
**/.venv/
**/.env
**/.pytest_cache
**/*.egg-info/
**/__pycache__/**
.worktrees/
